doctype html
html lang="en"
  head
    title <%= app_name.titleize %>
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application', defer: true

  body
    = yield
